@import "../../utils/import-mixin-and-var-scss";

.rating {
  display: flex;
  align-items: flex-end;
  &__info {
    width: 90px;
    min-width: 90px;
    margin-right: 5px;
    text-align: center;
  }
  &__number {
    font-family: $font-text2;
    font-size: 60px;
    font-weight: 700;
    color: #4a4a4e
  }
  &__count {
    font-family: $font-text2;
    font-size: 14px;
    color: $color-text-grey
  }
  &__details {
    flex-grow: 1;
  }
  &__item {
    display: flex;
    align-items: center;
    & + & {
      margin-top: 2px;
    }
  }
  &__star {
    width: 45px;
    min-width: 45px;
    display: flex;
    flex-direction: row-reverse;
  }
  &__icon {
    width: 7px;
    height: 7px;
    min-width: 7px;
  }
  &__line {
    flex-grow: 1;
    margin-left: 10px;
    height: 4px;
    background-color: #efefef;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
  }
  &__fill {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    border-radius: 2px;
    background-color: #8e8e93;
  }
  &__counter {
    color: $color-text-grey;
    font-weight: 400;
    margin-top: 15px;
    text-align: right;
  }
}
.review {
  padding: 15px 0;
  &__item {
    flex-grow: 1;
    width: calc(100vw - 50px);
    min-width: calc(100vw - 70px);
    max-width: calc(100vw - 70px);
    padding: 14px 20px;
    background-color: #f2f2f6;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    & + & {
      margin-left: 20px;
    }
  }
  &__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px 0;
  }
  &__stars {
    display: flex;
  }
  &__star {
    width: 13px;
    min-width: 13px;
    height: 13px;
  }
  &__title {
    font-weight: 500;
  }
  &__author {
    color: $color-text-grey;
  }
  &__text-wr {
    position: relative;
    min-height: 150px;
    flex-grow: 1;
    overflow: hidden;
    &.full {
      height: auto;
    }
  }
  &__text {
    line-height: 1.4;
    white-space: pre-line;
  }
  &__more {
    position: absolute;
    cursor: pointer;
    padding: 3px 3px 3px 30px;
    color: $color-text-link;
    background: linear-gradient(to right, rgba(255,255,255,0) 0%,#f2f2f6 30%,#f2f2f6 100%);
    bottom: 0;
    right: 0;
    text-decoration: none;
    font-size: 16px;
  }
}
