@import "../utils/import-mixin-and-var-scss";

.wr-section {
  padding: 0 $screen-gap;
}

.separator,
.separator-full {
  border-bottom: 0.5px solid #d6d6d6;
  display: block;
  height: 0;
  margin: 12px 0;
}
.separator-full {
  margin: 12px $screen-gap;
}

.scroll-h {
  padding: 0 20px;
  max-width: 100%;
  overflow: auto;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
}
