-
  const seoForPages = {
    "commonData": {
      "url": "url",
      "lang": "en",
      "site_name": "site_name",
      "image200200Url": "imageUrl" //- full path (with https://)
    },
    "index": {
      "title": "Beanstalk",
      "description": "Beanstalk",
      "keywords": "Beanstalk"
    }
  }
-
  const headerData = {
    "logo": {
      "logoUrl": "img/favicon/favicon-32x32.png",
      "logoText": "Logo"
    },
  }
-
  const introData = {
    "title": "BANNER",
    "info": "INFO"
  }
-
  const footerData = {
    "copyrigth": "&copy; <span id='thisYear'></span> Все права защищены.",
    "author": "Разработано <a href='https://t.me/chebatarou' target='_blank' title='Написать разработчику' rel='noopener'>BorCheLa</a>"
  }
