-
  const seoForPages = {
    "commonData": {
      "url": "url",
      "lang": "en",
      "site_name": "site_name",
      "image200200Url": "imageUrl" //- full path (with https://)
    },
    "index": {
      "title": "Beanstalk",
      "description": "Beanstalk",
      "keywords": "Beanstalk"
    }
  }
-
  const headerData = {
    logoUrl: "img/logo.jpeg",
    title: 'Beanstalk',
    subtitle: 'Find your Next Adventure',
    button: {
      name: 'get',
      url: '#'
    },
    back: 'Social Networking',
    items: [
      {
        title: '90  Ratings',
        content: '4.4',
        subtitle: '!!!stars'
      },
      {
        title: 'Age',
        content: '16+',
        subtitle: 'Years Old'
      },
      {
        title: 'chart',
        content: '№15',
        subtitle: 'Social Networking'
      },
      {
        title: 'Developer',
        content: '!!!devI',
        subtitle: 'Beanstalk Social LLC'
      },
      {
        title: 'Language',
        content: 'EN'
      },
    ]
  }
-
  const introData = {
    text: `Beanstalk is a Life Experience Platform - A new, positive way to do social media.

    The reason it’s called a life experience platform is because the app is designed to encourage
    you to take action in your life – through experiences and playlists, as well as showcase your
    accomplishments and life experiences to your community!

    Experiences
    Experiences are pieces of content that showcase different experiences that you can have. They are limitless and are as diverse as each and every one of us. Examples include hobbies, cooking, travel, outdoor recreation, art, entertainment, sports, movies, makeup, and so much more! You can accept Experiences and add them to a Playlist. Upon accepting an Experience, you are able to post or complete them. Posting about Experiences is very similar to posting on other Social Media. Completing an experience allows you to mark an experience as complete, and ‘check it off’.

    Beanstalk is already populated with hundreds of thousands of experiences – so you can interact on the app from day one. If you still aren’t able to find an experience that you’re searching for, you will easily be able to create it! Beanstalk is a platform that gives you the flexibility and creativity to make any experience you!

    Playlists
    Playlist is a pretty common term in today's world - they are a list filled with songs or videos! Beanstalk has playlists too - but for experiences.

    Playlists are a list of experiences that a person wants to accomplish during a specific time period. Beanstalk gives you the ability to create playlists and fill them with lists of Experiences. For example, you may be passionate about traveling, and would like to create a ‘travel playlist’  filled with all of the places you would like to visit! Beanstalk gives you the ability to create as many playlists as you want so you can organize the experiences that you have accepted or created. Additionally, Beanstalk allows you to search for, and accept, playlists made by businesses and other users.

    WHAT CAN YOU DO ON BEANSTALK?

    Find what life has to offer. Whether that’s mountain biking, trying the latest restaurant, hanging out with friends or family, traveling around the world, or even base jumping off of a mountain. Beanstalk has something for everyone. You are easily able to find your community of similar minded people!

    Create experiences and playlists and share them with others. Let other people know about an experience and invite them to try it! Do you know the best Mexican restaurant in town? Or how about coolest hiking spot? Show it off! Create a food playlist and fill it with all of the restaurants and foods you wanna try!

    Explore all of the amazing experiences that life has to offer! Beanstalk has hundreds of thousands of experiences and playlists already pre-populated from day one. You are able to explore something specific, or just explore at random and discover all of the cool and unique things that Beanstalk has to offer.

    Experience life. Beanstalk is all about doing. After finding or creating an experience, go out and do it! You can post about the experiences and share it with others. Let people know that you just hiked that mountain! Let them know you just graduated! Let them know you just finished a whole pizza by yourself! Beanstalk believes that life is meant to be enjoyed, and that you should experience it to the fullest.

    Live your best life…better, with Beanstalk.`,
    author: "Beanstalk Social LLC",
    authorLink: "#",
    job: "Developer",
  }
-
  const reviewData = {
    title: "Rating & Reviews",
    rating: {
      number: 4.4,
      max: 'out of 5',
      items: [
        {
          stars: 5,
          count: 60
        },
        {
          stars: 4,
          count: 32
        },
        {
          stars: 3,
          count: 4
        },
        {
          stars: 2,
          count: 8
        },
        {
          stars: 1,
          count: 0
        },
      ]
    },
    reviews: [
      {
        title: 'A whole new world',
        rating: 5,
        author: 'Coolcutenperkey',
        text: 'This app opened a world of adventure. Love being able to plan my next adventure'
      },
      {
        title: 'Great idea that helps me explore more!',
        rating: 5,
        author: 'att7979',
        text: `Beanstalk has been great for planning my next activity. I like that they're called "experiences" and they don't all need to be big bucket list items. I'm having a great time exploring restaurants and activities in my backyard`
      },
      {
        title: 'Not like other social media',
        rating: 4,
        author: 'anzeeak',
        text: `I like that Beanstalk gives me the option to keep my experiences private if I so choose. I have an entire board of experiences and goals for my eyes only as I learn new hobbies and focus on my personal wellness`
      },
      {
        title: 'The app helps me to build new community',
        rating: 5,
        author: 'rgxmez',
        text: `I appreciate the community I'm building at Beanstalk. I'm deepening my friendships while "meeting" new people`
      },
      {
        title: 'Great concept, needs work',
        rating: 4,
        author: 'camc99',
        text: `I like trying new things but have had a difficult time finding an app that does a good job of allowing me to invite family and friends to do challenges with me. Beanstalk makes it easy to share "experiences," accept them and build a community around them`
      },
      {
        title: 'So excited',
        rating: 5,
        author: 'Apollo11 air craft crash',
        text: `The app has everything, everytime I open it I'm excited to see the content around me!`
      },
    ]
  }
-
  const whatsNewData = {
    title: "What's new?",
    text: "Version 1.0.0"
  }
-
  const infoData = {
    title: "Information",
    items: [
      {
        name: 'Provider',
        text: 'Beanstalk Social LLC'
      },
      {
        name: 'Category',
        text: 'Social Networking'
      },
      {
        name: 'Compatibility',
        text: 'Works on this iPhone'
      },
      {
        name: 'Age rating',
        text: '16+'
      },
    ]
  }
-
  const privacyData = {
    title: "App Privacy",
    text: `The developer, <span class="strong">Beanstalk Social LLC</span>, indicated that the app’s privacy practices may include handling of data as described below. For more information, see the&nbsp;<a class="link" href="#">developer’s privacy policy.</a></div>`,
    info: `Privacy practices may vary based, for example, on the features you use of your age.`,
    card: {
      icon: 'indentity',
      title: 'Data Used to Track You',
      text: 'The following data may be used to track you across apps and websites owned by other companies:',
      items: [
        {
          title: 'Contact Info',
          icon: 'info'
        },
        {
          title: 'User Content',
          icon: 'content'
        },
        {
          title: 'Other Data',
          icon: 'other'
        },
      ]
    }
  }
-
  const footerData = {
    copyrigth: "&copy; 2023 landings.stor.re",
    items: [
      {
        name: 'Privacy Policy',
        url: '#'
      },
      {
        name: 'Terms of Service',
        url: '#'
      },
    ]
  }
